<!doctype html>
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
	<!-- Render the common head tags to include CSS and JS files -->
		<wcm:widget path="widgets/bootstrap-site/common-head"/>
	</head>
	<body>
		<wcm:widget path="widgets/bootstrap-site/header"/>
		<div id="main-container" class="container full">
			
			
            <div id="main-content-container" class="full">
					
                <wcm:content/>

            </div>
        </div>
        <wcm:widget path="widgets/bootstrap-site/footer"/>
        <wcm:widget path="widgets/google-analytics"/>
        <g:if test='${node.aliasURI != "ma"}'> 
            <wcm:widget path="widgets/pardot-tracking-code"/>
        </g:if>
	</body>
</html>